@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .print-content {
      width: 100%;
      height: 100%;
      page-break-after: avoid;
      page-break-before: avoid;
      page-break-inside: avoid;
      print-color-adjust: exact;
      size: landscape;
    }
  }